<br>
<hr>
<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Mischeaf Managed</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>.
    </p>
  </div>
</footer>